body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  text-align: center;
  padding: 60px 20px;

}

nav {
  background-color: #1e293b;
  padding: 15px;
  text-align: center;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 15px;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
padding: 5px;
}

section {
  text-align: center;
  padding: 80px 20px;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

p {
  color: #555;
  line-height: 1.6;
}

button {
  background-color: #22c55e;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
button:hover {
  background-color: #16a34a;
  transform: scale(1.05);
}
.hero-image {
  width: 80%;
  max-width: 900px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}
footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
@media (max-width: 768px) {

  nav a {
    display: block;
    margin: 10px 0;
  }

  .hero-image {
    width: 95%;
    height: auto;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .card {
    width: 90%;
  }

}
form {
  background-color: white;
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

input,
select {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: black;
}

form button {
  width: 100%;
}
